/* Estilos para el body y html */
body, html {
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el padding por defecto */
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  background-color: white; /* Fondo blanco */
}

* {
  font-family: 'Lexend', sans-serif;
}

/* Estilos para el encabezado */
.header {
  display: flex; /* Usa flexbox para el diseño */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Centra los elementos verticalmente */
  background-color: white; /* Color de fondo */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto */
  z-index: 1000; /* Coloca el encabezado en el frente */
  top: 0; /* Alinea al borde superior */
  left: 0; /* Alinea al borde izquierdo */
  width: 100%; /* Ancho completo */
  padding: 10px 20px; /* Padding alrededor del contenido */
}

/* Estilos para el título */
.header h1 {
  margin: 0; /* Elimina el margen por defecto */
  font-size: 24px; /* Tamaño de fuente */
  color: #7044bf; /* Color del texto */
}

/* Estilos para el menú del índice */
.index-menu {
  display: flex; /* Usa flexbox para el diseño */
  flex-direction: row; /* Elementos en una fila */
  margin: 0; /* Sin margen */
  padding: 0; /* Sin padding */
  list-style: none; /* Sin viñetas */
}

/* Estilos para los elementos del menú */
.menu-elem {
  margin: 0 8px; /* Margen horizontal */
  padding: 0; /* Sin padding */
  transition: 0.5s; /* Transición suave para transformaciones */
}

/* Estilos para los enlaces del menú */
.menu-elem a {
  color: #7044bf; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
}

/* Efecto hover para los elementos del menú */
.menu-elem:hover {
  transform: translateY(-5px); /* Desplaza hacia arriba */
}

/* Estilos para el botón */
.button {
  background-color: #7044bf; /* Color de fondo */
  color: #e7daf6; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Padding interno */
  cursor: pointer; /* Cursor de mano */
  transition: 0.3s; /* Transición suave para transformaciones */
}

.button:hover {
  color: #e7daf6; /* Color del texto en hover */
  transform: translateY(-5px); /* Desplaza hacia arriba en hover */
}

/* Estilos para el footer */
.footer {
  background-color: white;
  padding: 0; /* Elimina el padding del footer */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
}

/* Estilos para el contenido del footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ancho completo */
  max-width: 1200px; /* Ancho máximo */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Resto del código */
.footer-left, .footer-center, .footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left {
  align-items: flex-start;
}

.footer-right {
  align-items: flex-end;
}

.footer-left p, .footer-right ul, .footer-right a {
  margin: 0; /* Ajustar márgenes a 0 */
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.footer-logo {
  max-width: 100px;
}

.footer-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.footer-menu li {
  margin: 0 10px;
}

.footer-menu a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.footer-menu li:hover {
  padding: 0; /* Sin padding */
  transition: 0.5s; /* Transición suave para transformaciones */
  transform: translateY(-5px); /* Desplaza hacia arriba */

}


.footer-social {
  list-style: none;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.footer-social li {
  margin: 0 10px;
}

.footer-social ion-icon {
  font-size: 20px; /* Ajusta el tamaño del icono */
  color: #000000; /* Color del icono */
}


