#consultaGeneral,
#vacunacion,
#odontologia,
#laboratorio {
  border-radius: 8px; /* Bordes redondeados */
  background-color: #f0f9ff; /* Fondo degradado */
  padding: 20px; /* Espaciado interno */
  flex: 1; /* Hacer que todas las cajas crezcan de manera uniforme */
  height: 225px; /* Altura mínima para todas las cajas */
  min-width: 125px;
}

#consultaGeneral,
#odontologia,
#PerritoRadiografia,
#PerritoVacunacion{
  margin: 0px 20px 0px 0px;
}

#vacunacion,
#laboratorio,
#PerritoConsultaGeneral,
#PerritoOdontologia{
  margin: 0px 0px 0px 20px;
}

h3 {
  color: #7044bf;
  font-size: 32px;
  margin: 0 0 10px 0;
}

p {
  font-size: 20px;
  margin: 10px 0;
}

.info-section {
  margin-top: 20px;
  display: flex; /* Activa Flexbox */
  align-items: center; /* Centra verticalmente */
  justify-content: center;
  gap: 20px; /* Espacio entre los elementos */
}

.img-container img {
  height: 275px; /* Tamaño uniforme de las imágenes */
}
