html,
body {
    margin: 0;
    padding: 0;
    font-family: Oswald;
}

/* Header */
header {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 80px; 
    background: #FFFFFFFF; /* white */
    border-radius: 4px; /* border-m */
  }

.header h1 {
  position: absolute; 
  top: -10px; 
  left: -47px; 
  font-family: Lexend; /* Heading */
  font-size: 52px; 
  line-height: 74px; 
  font-weight: 700; 
  color: #6D31EDFF; /* primary-500 */
}

  /* Header Menu 1 */
.header menu {
    position: absolute; 
    top: 18px; 
    left: 511px; 
    width: 434px; 
    height: 44px; 
    display: flex; 
    align-items: center; 
    font-family: Manrope; /* Body */
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    opacity: 1; 
  }
  /* Header Menu 1 - Item */
  .header menu {
    padding: 9px 28px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #565D6DFF; /* neutral-600 */
    background: #000000FF; /* transparent */
    border-radius: 4px; /* border-m */
    cursor: pointer; 
    white-space: nowrap; 
  }
  /* Header Menu 1 - Selected item */
  .header-menu .header-menu-item.selected {
    position: relative; 
    font-weight: 700; 
    color: #6D31EDFF; /* primary-500 */
    background: #000000FF; /* transparent */
  }
  /* Header Menu 1 - Selected item */
  .header-menu .header-menu-item.selected:hover:active {
    color: #6D31EDFF; /* primary-500 */
    background: #000000FF; /* transparent */
  }
  /* Header menu item 1 */
  .header-menu .header-menu-item:nth-child(1) {
    font-family: Manrope; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 700; 
    color: #6D31EDFF; /* primary-500 */
  }
  /* Header menu item 2 */
  .header-menu .header-menu-item:nth-child(2) {
    font-family: Manrope; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 700; 
    color: #6D31EDFF; /* primary-500 */
  }
  /* Header menu item 3 */
  .header-menu .header-menu-item:nth-child(3) {
    font-family: Manrope; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 700; 
    color: #6D31EDFF; /* primary-500 */
  }
  /* Header menu item 4 */
  .header-menu .header-menu-item:nth-child(4) {
    font-family: Manrope; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 700; 
    color: #6D31EDFF; /* primary-500 */
  }
  /* Header menu item 5 */
  .header-menu .header-menu-item:nth-child(5) {
    font-family: Manrope; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 700; 
    color: #6D31EDFF; /* primary-500 */
  }

  /* Button 2 */
.button {
    position: absolute; 
    top: 18px; 
    left: 1195px; 
    height: 44px; 
    padding: 0 16px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Manrope; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #FFFFFFFF; /* white */
    background: #6D31EDFF; /* primary-500 */
    opacity: 1; 
    border: none; 
    border-radius: 22px; 
  }
  /* Hover */
  .button:hover {
    color: #FFFFFFFF; /* white */
    background: #5113D7FF; /* primary-600 */
  }
  /* Pressed */
  .button:hover:active {
    color: #FFFFFFFF; /* white */
    background: #3F0EA6FF; /* primary-700 */
  }
  /* Disabled */
  .button:disabled {
    opacity: 0.4; 
  }

/* Footer */
.footer {
  position: absolute; 
  top: 2024px; 
  left: 0px; 
  width: 100%; 
  height: 310px; 
  background: #FFFFFFFF; /* white */
  border-radius: 0px; 
}

  /* Image */
.image {
  position: absolute; 
  top: 62px; 
  left: 655px; 
  width: 129px; 
  height: 112px; 
  border-radius: 0px; 
}