.main {
    padding: 20px;
    margin-top: 100px; /* Espacio para el header */
}

/* Título principal */
.main h1 {
    color: #7044bf; /* Color de texto en línea con el esquema de color */
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor de la tabla */
.main table {
    width: 70%; /* Reducir el ancho de la tabla */
    margin: 0 auto; /* Centra la tabla */
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden; /* Para asegurar que las esquinas estén redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo de las celdas de la tabla */
.main th, .main td {
    padding: 10px; /* Reducir el padding */
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 0.85em; /* Reducir el tamaño de la fuente */
}

/* Estilo de las celdas de encabezado */
.main th {
    background-color: #7044bf;
    color: #ffffff;
    font-weight: bold;
}

/* Estilo para las imágenes de mascotas */
.pet-image img {
    max-width: 50px; /* Ajustar tamaño de la imagen */
    border-radius: 50%; /* Hacer las imágenes redondeadas */
}

/* Estilo de las filas en hover */
.main tr:hover {
    background-color: #f0f8ff;
    transition: background-color 0.3s ease-in-out;
}

/* Estilo para los enlaces en las celdas */
.main td a {
    color: #7044bf;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-size: 0.85em; /* Reducir el tamaño de la fuente */
}

.main td a:hover {
    color: #8948eb;
}