/* Estilos para el contenedor del formulario */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos para los encabezados dentro del formulario */
.form-container h2,
.form-container h3 {
    margin-bottom: 20px;
    color: #7044bf;
}

/* Estilos para los grupos de formulario */
.form-group {
    margin-bottom: 15px;
}

/* Estilos para las etiquetas de los campos del formulario */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #7044bf;
}

/* Estilos para los campos de entrada del formulario */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #7044bf;
}

/* Estilos para el botón de envío del formulario */
.form-group input[type="submit"] {
    background-color: #7044bf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

/* Efecto hover para el botón de envío */
.form-group input[type="submit"]:hover {
    background-color: #5c3f9d; /* Un tono más oscuro para el hover */
}

/* Estilos para el contenedor del botón */
#button {
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

/* Efecto hover para el contenedor del botón */
#button:hover {
    color: white;
    transform: translateY(-5px);
}
