#containerSede {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color: #7044bf;
}
p{
    text-align: center;
    color: black;
    padding: 0px 100px;
    font-size: 22px;
    font-weight: 250;
}
#containerGaleria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px; /* Ajusta el espacio entre las fotos */
}