body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #7044BF;
    margin-bottom: 20px;
    font-size: 24px;
}

.pet-info {
    text-align: left;
}

.pet-info p strong {
    color: #cd93e3;
}

.highlight {
    color: #01070d;
    font-weight: bold;
}
