body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #7044bf;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}
h2{
    color: #7044bf;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #8948eb;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

td {
    color: #333;
}

/* Estilos para la celda que contiene la imagen */
.pet-image {
    display: flex;
    justify-content: center; /* Centra horizontalmente la imagen dentro de la celda */
    align-items: center; /* Centra verticalmente la imagen dentro de la celda */
}

/* Contenedor para la imagen de la mascota */
.pet-image img {
    width: 100px; /* Ancho fijo para la imagen */
    height: 100px; /* Altura fija para la imagen */
    border-radius: 10px; /* Bordes redondeados */
    object-fit: cover; /* Asegura que la imagen mantenga sus proporciones y se recorte si es necesario */
}