<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas de Cliente</title>
    <link rel="stylesheet" href="../css/baseStyle.css"/>
    <link rel="stylesheet" href="../css/ClientStyle.css">


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <a href="/index">
            <div class="header-left">
                <img src="../images/logo.png" alt="logo">
                <h1>Doggy Dr.</h1>
            </div>
        </a>
        <div class="header-center">
            <ul class="index-menu">
                <li class="menu-elem" id="ME1">  
                    <a href="/admin/clients">
                        Clientes
                    </a>
                </li>
                <li class="menu-elem" id="ME1">  
                    <a href="/admin/pets">
                        Mascotas
                    </a>
                </li>
                <li class="menu-elem" id="ME1">  
                    <a href="/admin/vets">
                        Veterinarios
                    </a>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <button class="button">Chatea con nosotros</button>
            <a href="/client/logout"><ion-icon name="log-out-outline"></ion-icon></a>
            
        </div>
    </header>

    <main class="main">
        <div id="welcome">
            <h1>¡Bienvenido Admin!</h1>
            <img src="../images/index/welcome.jpg">
        </div>
        <div id="options">
            <h2>¿Qué quieres hacer?</h2>
            <div class="option-container">
                <div class="option">
                    <a href="/admin/vets">
                        <img src="../images/index/veterinarios.jfif" alt="Administrar Veterinarios">
                        <h3>Administrar Veterinarios</h3>
                    </a>
                </div>
                <div class="option">
                    <a href="/admin/statistics">
                        <img src="../images/index/estadisticas.jfif" alt="Consultar Estadísticas">
                        <h3>Consultar Estadísticas</h3>
                    </a>
                </div>
            </div>
        </div>
    </main>
    

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-center">
                <img src="../images/logo.png" alt="logo" height="100px">
            </div>
        </div>
    </footer>
</body>
</html>
