<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas de Cliente</title>
    <link rel="stylesheet" href="../css/baseStyle.css"/>
    <link rel="stylesheet" href="../css/allPetsStyles.css"/>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header-left">
            <img src="../images/logo.png" alt="logo">
            <h1>Doggy Dr.</h1>
        </div>
        <div class="header-center">
            <ul class="index-menu">
                <li class="menu-elem" id="ME1">  
                    <a href="/admin/clients">
                        Clientes
                    </a>
                </li>
                <li class="menu-elem" id="ME1">  
                    <a href="/admin/pets">
                        Mascotas
                    </a>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <button class="button">Chatea con nosotros</button>
            <a href="/client/logout"><ion-icon name="log-out-outline"></ion-icon></a>
            
        </div>
    </header>

    <main class="main">
        <h1>Mascotas</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Raza</th>
                        <th>Edad</th>
                        <th>Servicio</th>
                        <th>Foto</th>
                        <th>Acciones</th> <!-- Columna para las acciones CRUD -->
                    </tr>
                </thead>
                <tbody> 
                    <tr th:each="mascota : ${pets}">
                        <td>
                            <a th:href="@{/pet/find/{id}(id=${mascota.id})}" th:text="${mascota.nombre}"></a>
                        </td>
                        <td th:text="${mascota.raza}"></td>
                        <td th:text="${mascota.edad}"></td>
                        <td th:text="${mascota.servicio}"></td>
                        <td class="pet-image">
                            <img th:src="@{${mascota.urlImage}}" alt="Imagen de la mascota">
                        </td>
                        <td>
                            <a class="btn btn-info" th:href="@{/pet/update/{id}(id=${mascota.id})}">Editar</a>
                            <a class="btn btn-danger" th:href="@{/pet/delete/{id}(id=${mascota.id})}">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="button-container">
            <a type="button" class="btn" th:href="@{/pet/add}">Agregar mascota</a>
        </div>
        
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-center">
                <img src="../images/logo.png" alt="logo" height="100px">
            </div>
        </div>
    </footer>
</body>
</html>
