<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Doggy Dr.</title>
  <link rel="stylesheet" href="../css/baseStyle.css"/>
  <link rel="stylesheet" href="../css/bookingStyles.css"/>


  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
 
</head>

<body>
    <header class="header">
        <a href="/index">
            <div class="header-left">
                <img src="../images/logo.png" alt="logo">
                <h1>Doggy Dr.</h1>
            </div>
        </a>
        <div class="header-center">
            <ul class="index-menu">
                <li class="menu-elem" id="ME1">
                    <a href="/index">Inicio</a>
                </li>
                <li class="menu-elem" id="ME2">
                    <a href="/servicios">Servicios</a>
                </li>
                <li class="menu-elem" id="ME3">
                    <a href="/sedes">Sedes</a>
                </li>
                <li class="menu-elem" id="ME4">
                    <a href="/blogs">Blogs</a>
                </li>
                <li class="menu-elem" id="ME5">
                    <a href="/contacto">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <button class="button">Chatea con nosotros</button>
            <a href="/login/client"><ion-icon name="person-circle-outline"></ion-icon></a>
        </div>
    </header>
    
    <main class="main">
        <section id="booking-section">

            <div class="form-container">
                <h2>Registro de Usuario y Mascota</h2>
                <form th:object="${mascota}" th:action="@{/pet/agregar}" method="post" enctype="multipart/form-data">
                    <h3>Información de la Mascota</h3>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input th:field="*{nombre}" type="text" id="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="raza">Raza:</label>
                        <input th:field="*{raza}" type="text" id="raza" name="raza" required>
                    </div>
                    <div class="form-group">
                        <label for="edad">Edad:</label>
                        <input th:field="*{edad}" type="number" id="edad" name="edad" required>
                    </div>
                    <div class="form-group">
                        <label for="servicio">Servicio:</label>
                        <select th:field="*{servicio}" id="servicio" name="servicio" required>
                            <option value="">Seleccione un servicio</option>
                            <option value="consultas">Consultas y chequeos generales</option>
                            <option value="vacunaciones">Vacunaciones y Desparasitación</option>
                            <option value="odontologia">Odontología veterinaria</option>
                            <option value="laboratorio">Laboratorio y diagnóstico por Imágenes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="peso">Peso:</label>
                        <input th:field="*{peso}" type="number" id="peso" name="peso" required>
                    </div>
                    <div class="form-group">
                        <label for="urlImage">Foto URL de la Mascota:</label>
                        <input th:field="*{urlImage}" type="text" id="urlImage" name="urlImage" required>
                    </div>
                    
                    <div class="form-group" id="button">
                        <input type="submit" value="Registrar">
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <p>Cra. 7 #40 - 62, Bogotá, Colombia</p>
                <p>info@doggydr.com</p>
                <p>© 2024. • Privacidad • Términos • condiciones</p>
            </div>
            <div class="footer-center">
              <img src="../images/logo.png" alt="logo" height="100px" >
            </div>
            <div class="footer-right">
                <ul class="footer-menu">
                    <li><a href="/servicios">Servicios</a></li>
                    <!--<li><a href="/sobre-nosotros">Sobre nosotros</a></li> -->
                    <li><a href="/sedes">Sedes</a></li>
                    <li><a href="/blogs">Blog</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
                <ul class="footer-social">
                    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-github"></ion-icon></a></li>
                    <li><a href="/admin"><ion-icon name="person-circle-outline"></ion-icon></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>