<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Doggy Dr.</title>
  <link rel="stylesheet" href="../css/baseStyle.css"/>
  <link rel="stylesheet" href="../css/ServicesStyles.css"/>


  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
 
</head>

<body>
    <header class="header">
        <a href="/index">
            <div class="header-left">
                <img src="../images/logo.png" alt="logo">
                <h1>Doggy Dr.</h1>
            </div>
        </a>
        <div class="header-center">
            <ul class="index-menu">
                <li class="menu-elem" id="ME1">
                    <a href="/index">Inicio</a>
                </li>
                <li class="menu-elem" id="ME2">
                    <a href="/servicios">Servicios</a>
                </li>
                <li class="menu-elem" id="ME3">
                    <a href="/sedes">Sedes</a>
                </li>
                <li class="menu-elem" id="ME4">
                    <a href="/blogs">Blogs</a>
                </li>
                <li class="menu-elem" id="ME5">
                    <a href="/contacto">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <button class="button">Chatea con nosotros</button>
            <a href="/login/client"><ion-icon name="person-circle-outline"></ion-icon></a>
        </div>
    </header>
    

<main class="main">
    <section id="containerCG" class="info-section">
        <div class="img-container">
            <img src="../images/services/PerritoConsultaGeneral.png" alt="Principal" id="PerritoConsultaGeneral">
        </div>
        <section id="consultaGeneral">
            <h3>Consultas y chequeos generales</h3>
            <p>
                Exámenes de rutina diseñados para evaluar la salud general del animal y detectar posibles problemas de salud.
                Estos chequeos incluyen una revisión completa del estado físico del animal, 
                análisis de muestras y observaciones detalladas para asegurar que cualquier anomalía
                sea identificada y tratada a tiempo.
            </p>
        </section>
    </section>
    <section id="containerVD" class="info-section">
        <section id="vacunacion">
            <h3>Vacunaciones y Desparasitación</h3>
            <p>
                Aplicación de vacunas esenciales para prevenir enfermedades comunes en mascotas, 
                asegurando su bienestar a largo plazo. Además, ofrecemos tratamientos especializados 
                para eliminar parásitos internos y externos, garantizando que tu mascota se mantenga 
                saludable.
            </p>
        </section>
        <div class="img-container">
            <img src="../images/services/PerritoVacunacion.png" alt="Principal" id="PerritoVacunacion">
        </div>
    </section>
    <section id="containerOT" class="info-section">
        <div class="img-container">
            <img src="../images/services/PerritoOdontologia.png" alt="Principal" id="PerritoOdontologia">
        </div>
        <section id="odontologia">
            <h3>Odontología veterinaria</h3>
            <p>
                Realizamos una limpieza dental exhaustiva para mantener la salud bucal de tu mascota,
                incluyendo la eliminación de placa y sarro. También llevamos a cabo extracciones de dientes
                y ofrecemos tratamiento completo de diversas enfermedades dentales,
                asegurando una boca sana y libre de dolor.
            </p>
        </section>
    </section>
    <section id="containerLab" class="info-section">
        <section id="laboratorio">
            <h3>Laboratorio y diagnóstico por Imágenes</h3>
            <p>
                Análisis de sangre, orina, heces y otros fluidos corporales para detectar enfermedades
                y condiciones médicas. Radiografías, ecografías y otros estudios de imagen para diagnosticar
                problemas internos.
            </p>
        </section>
        <div class="img-container">
            <img src="../images/services/PerritoRadiografia.png" alt="Principal" id="PerritoRadiografia">
        </div>
    </section>
    <section id="buttonContainer">
        <a href="/agendarCita">
            <button class="button" id="bookingButton"><p>Agenda tu cita</p></button>
        </a>
    </section>
</main>


  <footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <p>Cra. 7 #40 - 62, Bogotá, Colombia</p>
            <p>info@doggydr.com</p>
            <p>© 2024. • Privacidad • Términos • condiciones</p>
        </div>
        <div class="footer-center">
          <img src="../images/logo.png" alt="logo" height="100px" >
        </div>
        <div class="footer-right">
            <ul class="footer-menu">
                <li><a href="/servicios">Servicios</a></li>
                <!-- <li><a href="/sobre-nosotros">Sobre nosotros</a></li> -->
                <li><a href="/sedes">Sedes</a></li>
                <li><a href="/blogs">Blog</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
            <ul class="footer-social">
                <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-github"></ion-icon></a></li>
                <li><a href="/admin"><ion-icon name="person-circle-outline"></ion-icon></a></li>
            </ul>
        </div>
    </div>
</footer>
  <script src="script.js"></script>
</body>

</html>