<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/petStyle.css">
</head>
<body>
    <h1>Mascotas</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Raza</th>
                    <th>Edad</th>
                    <th>Servicio</th>
                </tr>
            </thead>
            <tbody> 
                <tr th:each="mascota: ${pets}">
                    <td th:text="${mascota.nombre}"></td>
                    <td th:text="${mascota.raza}"></td>
                    <td th:text="${mascota.edad}"></td>
                    <td th:text="${mascota.servicio}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>