<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas de Cliente</title>
    <link rel="stylesheet" href="/css/baseStyle.css"/>
    <link rel="stylesheet" href="/css/allPetsStyles.css">


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">
        <a href="/index">
            <div class="header-left">
                <img src="/images/logo.png" alt="logo">
                <h1>Doggy Dr.</h1>
            </div>
        </a>
        <div class="header-center">
            <ul class="index-menu">
                <li class="menu-elem" id="ME1">  
                    <a th:href="@{/client/{id}/pets(id=${client.id})}">
                        Mis Mascotas
                    </a>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <button class="button">Chatea con nosotros</button>
            <a href="/client/logout"><ion-icon name="log-out-outline"></ion-icon></a>
        </div>
    </header>
    

    <main class="main">
        <h1>Mascotas de <span th:text="${client.name}"></span></h1> <!-- Nombre del cliente -->
        
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Raza</th>
                        <th>Edad</th>
                        <th>Servicio</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr th:each="mascota : ${client.pets}">
                        <td>
                            <a th:href="@{/pet/find/{id}(id=${mascota.id})}" th:text="${mascota.nombre}"></a>
                        </td>
                        <td th:text="${mascota.raza}"></td>
                        <td th:text="${mascota.edad}"></td>
                        <td th:text="${mascota.servicio}"></td>
                        <td class="pet-image">
                            <img th:src="@{${mascota.urlImage}}" alt="Imagen de la mascota">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <p>Cra. 7 #40 - 62, Bogotá, Colombia</p>
                <p>info@doggydr.com</p>
                <p>© 2024. • Privacidad • Términos • Condiciones</p>
            </div>
            <div class="footer-center">
                <img th:src="@{/images/logo.png}" alt="logo" height="100px">
            </div>
            <div class="footer-right">
                <ul class="footer-menu">
                    <li><a href="/servicios">Servicios</a></li>
                    <li><a href="/sobre-nosotros">Sobre nosotros</a></li>
                    <li><a href="/sedes">Sedes</a></li>
                    <li><a href="/blogs">Blog</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
                <ul class="footer-social">
                    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-github"></ion-icon></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
