<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de la Mascota</title>
    <link rel="stylesheet" th:href="@{/css/baseStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/petInfoStyle.css}">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>  

    <header class="header">
        <a href="/index">
            <div class="header-left">
                <img src="/images/logo.png" alt="logo">
                <h1>Doggy Dr.</h1>
            </div>
        </a>
        <div class="header-center">
            <ul class="index-menu">
                <li class="menu-elem" id="ME1">
                    <a href="/index">Inicio</a>
                </li>
                <li class="menu-elem" id="ME2">
                    <a href="/servicios">Servicios</a>
                </li>
                <li class="menu-elem" id="ME3">
                    <a href="/sedes">Sedes</a>
                </li>
                <li class="menu-elem" id="ME4">
                    <a href="/blogs">Blogs</a>
                </li>
                <li class="menu-elem" id="ME5">
                    <a href="/contacto">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <button class="button">Chatea con nosotros</button>
            <a href="/client/logout"><ion-icon name="log-out-outline"></ion-icon></a>
        </div>
    </header>
    

    <main class="main">

        <div class="container">
            <h1><strong><span id="title1" th:text="${pet.nombre}"></span></strong></h1>
            <div class="pet-image">
                <img th:src="${pet.urlImage}" alt="Imagen de la mascota">
            </div>
            <div class="pet-info">
                <p><strong>Raza:</strong> <span th:text="${pet.raza}"></span></p>
                <p><strong>Dueño:</strong> <span th:text="${pet.owner.name}"></span></p>
                <p><strong>ID:</strong> <span th:text="${pet.id}"><bold> </bold></span></p>
                <p><strong>Peso:</strong> <span th:text="${pet.peso}"><bold></bold></span></p>
                <p><strong>Edad:</strong> <span  th:text="${pet.edad}"></span></p>
                <p><strong>Servicio:</strong> <span  th:text="${pet.servicio}"></span></p>
                <p><strong>Medicinas Suministradas:</strong> <span><bold>Desparasitante Canino</bold></span></p>
                <p><strong>Costo Total:</strong> <span><bold>$99,000</bolf></span></p>
            </div>
        </div>
        

    </main>

    

</body>
</html>
